body{
    margin: 0;
}

.navbar{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    height: 80px;
    width: 100%;
    background-color: white;
}

.header-links {
    position: relative;
}

.header-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    list-style-type: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-left: 5%;
}

.header-link  {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    transition: background-color 0.6s ease;
}

.header-link:hover{
    color: #9f9f9f;
}

.logo-dark {
    max-height: 64px;
}

/**/

.title{
    padding-top: 70px;
    align-items: center;
    text-align: center;
    font-size: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 0;
}

ol.breadcrumb {
    list-style: none;
    align-items: center;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
}
ol.breadcrumb li {
    display: inline;
    font-size: 18px;
    padding: 0;
    margin: 0;
}
ol.breadcrumb li+li:before {
    color: black;
    content: "/\00a0";
}
ol.breadcrumb li a {
    text-decoration: none;
    color: black;
}
ol.breadcrumb li a:hover {
    color: #9f9f9f;
    text-decoration: underline;
}

/**/

.history{
    align-items: center;
    text-align: center;
}

.about{
    text-align: left;
    width: 60%;
}

.about-flex{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 7%;
}

h2{
    padding: 20px 0 0 0;
    font-stretch: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.about-text{
    align-items: center;
    text-align: left;
    color: #9f9f9f;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.about-img{
    padding-top: 20px;
    width: 100%;
    left: 0;
}

/**/

.contact{
    background-color: white;
}

.contact-flex{
    display: flex;
    padding-top: 2%;
    padding-left: 8%;
}

.contact-logo{
    display: flex;
}

.contact-logo img{
    height: 52px;
    align-self: center;
}

.contact-logo h4{
    font-size: 20px;
    padding-left: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    align-self: center;
}

.contact-text{
    font-size: 15px;
    font-stretch: ultra-condensed;
    color: #9f9f9f;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.contacts-link{
    display: flex;
    /*flex-direction: row;*/
    justify-content: left;
    padding: 0;
    margin: 30px 30px 30px 0;
}

.contact-link{
    font-size: 20px;
    list-style-type: none;
    padding-right: 15px;
}

.made{
    padding-left: 7.4%;
    font-size: 13px;
    font-stretch: ultra-condensed;
    color: #9f9f9f;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tagline.md{
    background-color: #f7f8f9;
    padding: 10px;
}