.navbar{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    height: 80px;
    width: 100%;
    background-color: white;
}

.header-links {
    position: relative;
}

.header-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    list-style-type: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-left: 5%;
}

.header-link  {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    transition: background-color 0.6s ease;
}

.header-link:hover{
    color: #9f9f9f;
}

.logo-dark {
    max-height: 64px;
}

/**/


.title{
    align-items: center;
    text-align: center;
    font-size: 80px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.micro-title, h2{
    align-items: center;
    text-align: center;
    font-size: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.prev:hover, .next:hover {
    background-color: #9f9f9f;
}

.active, .dot:hover {
    background-color: #9f9f9f;
}

.my-slides{
    position: relative;
    display: block;
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;
}

.img{
    width: 100%;
    display: block;
    opacity: 0.85;

}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/**/

.trend-flex{
    width: 100%;
    display: flex;
    justify-content: center;
}

.trend-item{

}

.shop-item{
    width: 200px;
    margin: 20px 20px;
}

.shop-item-dark:hover{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.15;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}

p{
    font-size: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.price{
    font-size: 10px;
}

/**/

.intro{
    padding: 10px;
}

.intro.wh{
    color: white;
}

.client{
    background-color: #9f9f9f;
}

.client-flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /*background-image: url("img/background.jpg");*/
    background-size: 100%;
}

.intro-text{
    align-items: center;
    text-align: center;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.intro-text h3{
    font-stretch: ultra-condensed
}

.intro-text h5{
    font-stretch: ultra-condensed
}

/**/

.tagline{
    background-color: #f7f8f9;
    padding: 25px;
}


/**/

.contact{
    background-color: white;
}

.contact-flex{
    padding-top: 2%;
    display: flex;
    padding-left: 8%;
}

.contact-logo{
    display: flex;
}

.contact-logo img{
    height: 52px;
    align-self: center;
}

.contact-logo h4{
    font-size: 20px;
    padding-left: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    align-self: center;
}

.contact-text{
    font-size: 15px;
    font-stretch: ultra-condensed;
    color: #9f9f9f;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.contacts-link{
    display: flex;
    /*flex-direction: row;*/
    justify-content: left;
    padding: 0;
    margin: 30px 30px 30px 0;
}

.contact-link{
    font-size: 20px;
    list-style-type: none;
    padding-right: 15px;
}

.made{
    padding-left: 7.4%;
    font-size: 13px;
    font-stretch: ultra-condensed;
    color: #9f9f9f;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tagline.md{
    padding: 10px;
}